---
layout: default
title: "Code Review Community"
page-class: page--home
---
<div class="page-lead">
    <p>This <a href="https://github.com/codereviewcommunity">community</a> is dedicated to the <a href="http://meta.codereview.stackexchange.com/questions/1201/cr-weekend-challenge">Weekend Challenges</a> and other projects going on on <a href="http://codereview.stackexchange.com/">Code Review</a>.</p>
    <p><a href="https://github.com/codereviewcommunity/codereviewcommunity.github.io/issues/new">Open an issue</a> on this repo to get added to the organization. <strong>Please state what language/team(s) you would like to be added to.</strong> If your reputation on Code Review is <strong>2000 or greater</strong>, you will be added to the "Admin" team automatically.</p>
</div>

{% for post in paginator.posts %}
<article class="post">
    <a href="{{ post.url }}" class=post__link>
        <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class=post__time>{{ post.date | date: "%-d %B, %Y" }}</time>
    </a>
    <h2 class=post__title>{{ post.title }}</h2>

    {{ post.content }}
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ol class="pagination">
    <li class=pagination__prev>
        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="/" rel=prev>Newer</a>
        {% else %}
            <a href="/page{{paginator.previous_page}}" rel=prev>Newer</a>
        {% endif %}
        {% else %}
            Newer
        {% endif %}
    </li><!--
 --><li class=pagination__next>
        {% if paginator.next_page %}
            <a href="/page{{paginator.next_page}}" rel=next>Older</a>
        {% else %}
            Older
        {% endif %}
    </li>
</ol>
{% endif %}
